<div id="list">
  <% if @lists.any? %>
    <h3>Your lists</h3>
    <ul>
      <% @lists.reverse_each do |list| %>
        <li class="row">
          <div class="columns small-10">
            <%= render 'lists/editable_list_title', list: list %>
          </div>
          <%= link_to list_path(list),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              remote: true,
              class: 'columns small-2' do %>
            <i class="fi-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No lists have yet been created.</p>
  <% end %>
</div>

<%= form_with(model: List.new) do |form| %>
  <div class="row">
    <div class="columns small-6">
      <%= form.text_field :name, placeholder: :name %>
    </div>
    <div class="columns small-6">
      <%= button_tag type: 'submit', class: 'button tiny' do %>
        Create new list
        <i class="icon-right fi-plus"></i>
      <% end %>
    </div>
  </div>
<% end %>

<% if flash[:notice] %>
  <%= render 'errors', errors: flash[:notice] %>
<% end %>
