<h3>
  <div class="js-list-title">
    <%= format_list_name(@list) %>
    <i class="js-edit-list-title icon-right fi-pencil"></i>
  </div>

  <%= form_with model: @list, method: :put, class: "js-list-title-form" do |f| %>
    <div class="row">
      <div class="columns small-6">
        <%= f.text_field :name, placeholder: format_list_name(@list), value: "" %>
      </div>
      <div class="columns small-2">
        <%= button_tag type: 'submit', class: 'js-submit-form button tiny' do %>
          <i class="icon-right fi-check"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</h3>

<div id="list">
  <% if @list.items.any? %>
    <ul>
      <% @list.items.each do |i| %>
        <%= render 'lists/list_item', item: i %>
      <% end %>
    </ul>
  <% else %>
    <p>No items have yet been added.</p>
  <% end %>
</div>

<% if flash.notice %>
  <div id="errors">
    <h4>
      <%= pluralize(flash.notice.count, 'error') %> prohibited
      this item from being saved:
    </h4>
    <ul>
      <% flash.notice.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [ @list, @list.items.build ], local: true) do |form| %>
  <div class="row">
    <div class="columns small-9 large-4">
      <%= form.text_field :name, placeholder: :name %>
    </div>
    <div class="columns small-3 large-2">
      <%= form.number_field :quantity, value: 1 %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] })) %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.submit 'Add item', class: 'button small' %>
    </div>
  </div>
<% end %>

<%= link_to lists_path, class: 'button' do %>
  Home
  <i class="icon-right fi-home"></i>
<% end %>
