<h2><%= format_list_name(@list) %></h2>

<div id="list">
  <% if @list.items.any? %>
    <ul>
      <% @list.items.each do |item| %>
        <li>
          <span><%= item.name %></span>
          <span><%= item.quantity %></span>
          <%= link_to [item.list, item], method: :delete do %>
            <i class="icon fi-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No items have yet been added.</p>
  <% end %>
</div>

<% if flash.notice %>
  <div id="errors">
    <h3>
      <%= pluralize(flash.notice.count, "error") %> prohibited
      this item from being saved:
    </h3>
    <ul>
      <% flash.notice.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [ @list, @list.items.build ], local: true) do |form| %>
  <p>
    <%= form.text_field :name, placeholder: :name %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: 1 %>
    <%= form.submit "Add item" %>
  </p>
<% end %>

<%= link_to lists_path, class: "nav-link" do %>
  Home
  <i class="icon fi-home"></i>
<% end %>
