<h2><%= format_list_name(@list) %></h2>

<div id="list">
  <% if @list.items.any? %>
    <ul>
      <% @list.items.each do |item| %>
        <%= content_tag :li, class: item_class(item) do %>
          <div><%= item.category ? item.category.name : "unknown" %></div>
          <%= link_to list_item_toggle_checked_path(@list.id, item.id), method: :put do %>
            <div class="item-name"><%= item.name %></div>
          <% end %>
          <div class="item-quantity">
            <%= link_to list_item_decrement_quantity_path(@list.id, item.id), method: :put, class: "quantity-button" do %>
              <i class="icon fi-minus"></i>
            <% end %>
            <div class="quantity-text"><%= item.quantity %></div>
            <%= link_to list_item_increment_quantity_path(@list.id, item.id), method: :put, class: "quantity-button" do %>
              <i class="icon fi-plus"></i>
            <% end %>
          </div>
          <%= link_to [item.list, item], method: :delete do %>
            <i class="icon fi-trash"></i>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No items have yet been added.</p>
  <% end %>
</div>

<% if flash.notice %>
  <div id="errors">
    <h3>
      <%= pluralize(flash.notice.count, "error") %> prohibited
      this item from being saved:
    </h3>
    <ul>
      <% flash.notice.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [ @list, @list.items.build ], local: true) do |form| %>
  <p>
    <%= form.text_field :name, placeholder: :name %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: 1 %>
    <%= form.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] })) %>
    <%= form.submit "Add item" %>
  </p>
<% end %>

<%= link_to lists_path, class: "nav-link" do %>
  Home
  <i class="icon fi-home"></i>
<% end %>
