<h3>
  <div class="js-list-title">
    <%= @list.name %>
    <i class="js-edit-list-title icon-right fi-pencil"></i>
  </div>

  <%= form_with model: @list, method: :put, class: "js-list-title-form hidden" do |f| %>
    <div class="row">
      <div class="columns small-6">
        <%= f.text_field :name, placeholder: @list.name, value: "", required: true %>
      </div>
      <div class="columns small-2">
        <%= button_tag type: 'submit', class: 'js-submit-form button tiny' do %>
          <i class="icon-right fi-check"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <p>
    Created at:
    <%= format_time(@list.created_at) %>
  </p>
</h3>

<% if flash[:list_notice] %>
  <%= render 'errors', errors: flash[:list_notice] %>
<% end %>

<div id="list">
  <% if @list.items.any? %>
    <ul>
      <% @list.items.each do |i| %>
        <%= render 'lists/list_item', item: i %>
      <% end %>
    </ul>
  <% else %>
    <p>No items have yet been added.</p>
  <% end %>
</div>

<%= form_with(model: [ @list, @list.items.build ], local: true) do |form| %>
  <div class="row">
    <div class="columns small-9 large-4">
      <%= form.text_field :name, placeholder: :name %>
    </div>
    <div class="columns small-3 large-2">
      <%= form.number_field :quantity, value: 1 %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] })) %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.submit 'Add item', class: 'button small' %>
    </div>
  </div>
<% end %>

<% if flash[:item_notice] %>
  <%= render 'errors', errors: flash[:item_notice] %>
<% end %>

<%= link_to lists_path, class: 'button' do %>
  Home
  <i class="icon-right fi-home"></i>
<% end %>
