<div id="list">
  <% if @shopping_lists.any? %>
    <h3>Your lists</h3>
    <ul>
      <% @shopping_lists.reverse_each do |shopping_list| %>
        <li class="row">
          <div class="columns small-10">
            <%= render 'shopping_lists/editable_shopping_list_title', shopping_list: shopping_list %>
          </div>
          <%= link_to shopping_list_path(shopping_list),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              remote: true,
              class: 'delete-list columns small-2' do %>
            <i class="fi-trash"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No shopping lists have yet been created.</p>
  <% end %>
</div>

<%= form_with(model: ShoppingList.new) do |form| %>
  <div class="row">
    <div class="columns small-6">
      <%= form.text_field :name, placeholder: :name %>
    </div>
    <div class="columns small-6">
      <%= button_tag type: 'submit', class: 'button tiny' do %>
        Create new shopping list
        <i class="icon-right fi-plus"></i>
      <% end %>
    </div>
  </div>
<% end %>

<% if flash[:notice] %>
  <%= render 'errors', errors: flash[:notice] %>
<% end %>
