<h3>
  <%= render 'shopping_lists/editable_shopping_list_title', shopping_list: @shopping_list %>

  <p>
    Created at:
    <%= l @shopping_list.created_at, format: :main %>
  </p>
</h3>

<% if flash[:list_notice] %>
  <%= render 'errors', errors: flash[:list_notice] %>
<% end %>

<div id="list">
  <% if @shopping_list.items.any? %>
    <ul>
      <% @shopping_list.items.each do |i| %>
        <%= render 'shopping_lists/shopping_list_item', item: i %>
      <% end %>
    </ul>
  <% else %>
    <p>No items have yet been added.</p>
  <% end %>
</div>

<%= form_with(model: [ @shopping_list, @shopping_list.items.build ], local: true) do |form| %>
  <div class="row">
    <div class="columns small-9 large-4">
      <%= form.text_field :name, placeholder: :name %>
    </div>
    <div class="columns small-3 large-2">
      <%= form.number_field :quantity, value: 1 %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id] })) %>
    </div>
    <div class="columns small-6 large-3">
      <%= form.submit 'Add item', class: 'button small' %>
    </div>
  </div>
<% end %>

<% if flash[:item_notice] %>
  <%= render 'errors', errors: flash[:item_notice] %>
<% end %>

<div id="recent-items">
  <% if @recent_items.empty? %>
    <p>No recently added items available.</p>
  <% else %>
    <h4>Recently added items</h4>
    <ul>
      <% @recent_items.each do |i| %>
        <%= render 'shopping_lists/recently_added_item', item: i %>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to shopping_lists_path, class: 'button' do %>
  Home
  <i class="icon-right fi-home"></i>
<% end %>
